.page-header {
  border-bottom: 0;
  padding: 0;
}
.container {
  max-width: 970px;
}
.no-gutter {
  padding: 0;
}
.container--parallax {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
}
.inline-block,
#mod_navbar2 .menu ul,
#mod_navbar2 .menu ul li {
  display: inline-block;
  *display: inline;
  zoom: 1;
}
.bx-wrapper {
  margin: 50px auto 15px auto !important;
  text-align: center;
}
.bx-wrapper img {
  display: inline-block;
}
.bx-viewport {
  background-color: transparent !important;
  border: 0 !important;
  -webkit-box-shadow: none !important;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  text-align: center;
  width: 90% !important;
  margin: 0 auto;
}
.stroke-sections {
  float: left;
  width: 100%;
}
.stroke-sections img {
  width: 100%;
  display: block;
  position: relative;
  z-index: 1;
  margin: 0;
  padding: 0;
}
.gutter {
  padding: 0 15px;
}
.gutter--full {
  padding: 15px;
}
.aligncenter {
  display: block;
  margin: 10px auto;
  height: auto !important;
}
.alignright {
  float: right;
  margin: 0 0 15px 15px;
}
.alignleft {
  float: left;
  margin: 0 15px 15px 0;
}
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
ul {
  margin: 0;
  padding: 0;
}
ul li {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  font-weight: 700;
}
a:hover,
a:focus,
a:active {
  text-decoration: none;
}
h1 {
  margin: 0;
  font-size: 1em;
  font-weight: 700;
}
h2 {
  font-size: 1em;
  font-weight: 400;
}
p {
  font-size: 0.9em;
  line-height: 1.2;
  padding: 20px 0;
}
body,
html {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
}
section {
  position: relative;
}
.ui-loader {
  height: 0;
  overflow: hidden;
}
strong {
  font-weight: 700;
}
img {
  max-width: 100%;
}
.btn {
  border-radius: 0;
  outline: 0;
}
.btn:hover,
.btn:active,
.btn:focus,
.btn:visited {
  outline: 0;
}
.btn-custom1,
.comment-respond .comment-form .submit,
.comment-respond .comment-form input[type="submit"],
.commentlist .comment-reply-link {
  padding: 0 50px;
  color: #fff;
  background-color: #2b2822;
  -webkit-transition: 0.2s all ease-in;
  -moz-transition: 0.2s all ease-in;
  transition: 0.2s all ease-in;
}
.btn-custom1:hover,
.comment-respond .comment-form .submit:hover,
.comment-respond .comment-form input[type="submit"]:hover,
.commentlist .comment-reply-link:hover,
.btn-custom1:focus,
.comment-respond .comment-form .submit:focus,
.comment-respond .comment-form input[type="submit"]:focus,
.commentlist .comment-reply-link:focus {
  background-color: #25221d;
  color: #fff;
}
.btn-custom2 {
  padding: 0 50px;
  color: #fff;
  background-color: #b03d3c;
  -webkit-transition: 0.2s all ease-in;
  -moz-transition: 0.2s all ease-in;
  transition: 0.2s all ease-in;
}
.btn-custom2:hover,
.btn-custom2:focus {
  background-color: #423636;
  color: #fff;
}
.btn-portifolio-blog {
  margin: 15px 0;
}
.footer {
  padding: 35px 0;
  background-color: #2b2822;
  color: #999;
}
@media only screen and (max-width: 767px) {
  .footer {
    text-align: center;
  }
}
.footer img {
  display: inline-block;
  padding-top: 5px;
  margin-top: -20px;
}
@media only screen and (max-width: 767px) {
  .footer img {
    display: block;
    margin: 0 auto;
  }
}
.footer span {
  font-size: 13px;
  font-weight: 100;
  display: inline-block;
}
@media only screen and (max-width: 767px) {
  .footer span {
    text-align: center;
  }
}
.footer .social {
  float: right;
  margin-top: 5px;
}
@media only screen and (max-width: 767px) {
  .footer .social {
    float: none;
    display: block;
    text-align: center;
  }
}
.footer .social li {
  display: inline-block;
  width: 32px;
  height: 32px;
  text-indent: -999999px;
  -webkit-transition: 0.2s all ease-in-out;
  -moz-transition: 0.2s all ease-in-out;
  transition: 0.2s all ease-in-out;
  cursor: pointer;
}
.footer .social li a {
  display: block;
  width: 32px;
  height: 32px;
}
.footer .social li.behance {
  background: url("../img/social/behance.png") no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.footer .social li.behance:hover {
  background-image: url("../img/social/behance_hover.png");
}
.footer .social li.facebook {
  background: url("../img/social/facebook.png") no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.footer .social li.facebook:hover {
  background-image: url("../img/social/facebook_hover.png");
}
.footer .social li.google {
  background: url("../img/social/google.png") no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.footer .social li.google:hover {
  background-image: url("../img/social/google_hover.png");
}
.footer .social li.linkedin {
  background: url("../img/social/linkedin.png") no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.footer .social li.linkedin:hover {
  background-image: url("../img/social/linkedin_hover.png");
}
.input-group {
  display: inline-block;
  width: 100%;
  padding: 0 5px;
  background-color: #fff;
  font-size: 14px;
  font-weight: 700;
  color: #2b2822;
  margin-bottom: 5px;
}
.input-group input,
.input-group textarea {
  width: 100%;
  display: block;
  padding: 7px;
  border: 0;
  outline: none;
}
.input-group input::-webkit-input-placeholder,
.input-group textarea::-webkit-input-placeholder {
  font-weight: 400;
  text-align: center;
  color: #666;
}
.input-group input:-moz-placeholder,
.input-group textarea:-moz-placeholder {
  font-weight: 400;
  text-align: center;
  color: #666;
}
.input-group input::-moz-placeholder,
.input-group textarea::-moz-placeholder {
  font-weight: 400;
  text-align: center;
  color: #666;
}
.input-group input:-ms-input-placeholder,
.input-group textarea:-ms-input-placeholder {
  font-weight: 400;
  text-align: center;
  color: #666;
}
.input-group textarea {
  border: 0;
  outline: none;
  min-height: 150px;
}
.input-group--default {
  display: inline-block;
  width: 100%;
  padding: 10px 20px;
  background-color: transparent;
  font-size: 14px;
  font-weight: 700;
  color: #ccc;
  border: 1px solid #ccc;
  margin-bottom: 20px;
}
.input-group--default input,
.input-group--default textarea {
  width: 100%;
  display: block;
  padding: 5px 20px;
  outline: none;
  border: 0;
  background-color: transparent;
}
.input-group--default input::-webkit-input-placeholder,
.input-group--default textarea::-webkit-input-placeholder {
  font-size: 15px;
  font-weight: 100;
  text-align: left;
  color: #ccc;
}
.input-group--default input:-moz-placeholder,
.input-group--default textarea:-moz-placeholder {
  font-size: 15px;
  font-weight: 100;
  text-align: left;
  color: #ccc;
}
.input-group--default input::-moz-placeholder,
.input-group--default textarea::-moz-placeholder {
  font-size: 15px;
  font-weight: 100;
  text-align: left;
  color: #ccc;
}
.input-group--default input:-ms-input-placeholder,
.input-group--default textarea:-ms-input-placeholder {
  font-size: 15px;
  font-weight: 100;
  text-align: left;
  color: #ccc;
}
.input-group--default textarea {
  border: 0;
  outline: none;
  padding: 5px 20px;
  border-radius: 20px;
  min-height: 140px;
  resize: none;
}
.hero {
  background-image: url(".././img/bg-madgo-blog.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 130px 0 50px;
}
.hero-content {
  background-color: #2b2822;
  color: #fff;
  font-size: 18px;
  font-weight: 100;
  text-transform: uppercase;
  margin-bottom: 13px;
  padding: 15px 0;
}
.hero-content h2 {
  line-height: 1.5;
  margin: 0;
}
.hero-content strong {
  font-weight: 700;
}
.blog {
  padding: 50px 15px;
}
@media only screen and (max-width: 767px) {
  .blog {
    text-align: center;
  }
}
.blog.single {
  padding: 135px 15px 50px;
}
.blog .page-header {
  padding: 0 0 25px 0;
  text-align: left;
}
@media only screen and (max-width: 767px) {
  .blog .page-header {
    text-align: center;
  }
}
.blog .page-header h1 {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  color: #e94647;
}
@media only screen and (max-width: 767px) {
  .blog .page-header h1 {
    font-size: 24px;
  }
}
.blog .page-header h1 span {
  border-bottom: 5px solid #666;
}
.blog p {
  padding: 0;
  margin-bottom: 15px;
  letter-spacing: 0.2px;
}
.blog li {
  margin: 5px 0;
}
.blog strong {
  font-weight: 700;
}
.blog b {
  font-weight: 600;
}
.blog img {
  max-width: 100%;
  height: auto;
}
.blog .post-preview {
  padding-bottom: 20px;
}
.blog .post-preview .post-thumbnail {
  overflow: hidden;
  zoom: 1;
  min-height: 210px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  margin: 15px 0;
  -webkit-transition: 0.2s all ease-in;
  -moz-transition: 0.2s all ease-in;
  transition: 0.2s all ease-in;
  border: 0 solid transparent;
}
.blog .post-preview .post-thumbnail:hover {
  border: 15px solid transparent;
}
.blog .post-preview .post-content {
  padding: 5px 15px;
  background-color: #fff;
}
.blog .post-preview .post-content h1 {
  padding: 0;
  margin: 0;
  font-size: 22px;
  font-weight: 400;
  color: #423636;
}
@media only screen and (max-width: 767px) {
  .blog .post-preview .post-content h1 {
    font-size: 18px;
  }
}
.blog .post-preview .post-content a {
  font-weight: 600;
  color: #423636;
  text-decoration: none;
}
.blog .post-preview .post-content a:hover {
  color: rgba(0,0,0,0.5);
}
.blog .post-preview .post-content p {
  padding: 15px 0;
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  color: #6f6f6f;
}
@media screen and (max-width: 768px) {
  .blog .post-preview .post-content {
    text-align: center;
  }
}
.blog .post-excerpt {
  text-align: center;
  padding: 0 15px;
  border-right: 1px solid #ccc;
}
.blog .post-excerpt .glyphicon {
  padding-right: 10px;
}
.blog .post-excerpt span {
  font-size: 14px;
  font-weight: 400;
  color: #ccc;
}
.blog .post-excerpt b {
  color: #000;
  font-weight: 400;
}
.blog .post-excerpt .day {
  font-size: 32px;
  font-weight: 700;
  margin: 0;
  padding: 0;
}
@media only screen and (max-width: 767px) {
  .blog .post-excerpt .day {
    font-size: 32px;
  }
}
.blog .post-excerpt .date {
  font-weight: 700;
}
.blog .post-excerpt strong {
  padding-top: 15px;
  font-size: 15px;
  font-weight: 700;
  color: #808080;
  text-transform: uppercase;
}
@media screen and (max-width: 768px) {
  .blog .post-excerpt {
    text-align: center;
  }
}
.blog .pagenavi {
  text-align: center;
}
.blog .sidebar {
  text-align: center;
  color: #fff;
}
.blog .sidebar header {
  margin-top: 15px;
  padding: 15px;
  text-align: center;
  background-color: #423636;
}
.blog .sidebar header h1 {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  text-transform: uppercase;
}
.blog .sidebar header h1.titulo-quero-venda {
  font-size: 20px;
  padding: 10px 5px;
  border: 2px solid #e94647;
}
.blog .sidebar.newsletter {
  padding: 0;
  background-color: #e94647;
}
.blog .sidebar.newsletter .btn {
  color: #fff;
  font-weight: 400;
  padding: 7px 0;
  margin-top: 10px;
}
.blog .sidebar.newsletter .content {
  padding: 15px;
}
.blog .sidebar.socials img {
  padding-top: 15px;
}
.blog .sidebar.views {
  color: #fff;
  font-size: 12px;
}
.blog .sidebar.views ul li {
  padding-right: 0;
  border-bottom: 1px solid #6f6f6f;
}
.blog .sidebar.views ul li a {
  padding-right: 3px;
}
.blog .sidebar.views span {
  padding: 5px 3px 3px 10px;
}
.blog .sidebar.views .counts {
  padding: 1px 2px;
}
.blog .sidebar.views .title {
  padding: 0;
  margin-bottom: 30px;
}
.blog .sidebar.views .bg-view {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 40px;
}
.blog .sidebar.views .views-count {
  position: absolute;
  top: -20%;
  right: 0;
  width: calc(100% - 5px);
  background-color: #e94647;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
@media only screen and (max-width: 990px) {
  .blog .sidebar.views .views-count {
    width: 50%;
  }
}
@media only screen and (max-width: 767px) {
  .blog .sidebar.views .views-count {
    width: 80%;
  }
}
@media only screen and (max-width: 480px) {
  .blog .sidebar.views .views-count {
    width: calc(100% - 5px);
  }
}
.blog .sidebar.services ul {
  padding: 15px 0;
}
.blog .sidebar.services li {
  background: url(".././img/design.jpg") no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: #e94647;
  min-height: 80px;
  margin: 0 0 7px 0;
  border: 0;
}
.blog .sidebar.services li:hover {
  border: 0;
}
.blog .sidebar.services li:hover a {
  color: #fff;
  margin: 12px 60px 0 0;
}
.blog .sidebar.services a {
  float: right;
  font-size: 16px;
  color: #fff;
  margin: 12px 40px 0 0;
  -webkit-transition: 0.2s all ease-in;
  -moz-transition: 0.2s all ease-in;
  transition: 0.2s all ease-in;
}
.blog .sidebar.services a:hover {
  color: #fff;
  margin: 12px 60px 0 0;
}
@media only screen and (min-width: 1170px) {
  .blog .sidebar.services a {
    font-size: 22px;
  }
}
.blog .sidebar span {
  display: inline-block;
  font-size: 12px;
  font-weight: 400;
}
.blog .sidebar input {
  width: 100%;
  padding: 7px;
  border: 0;
  margin: 0;
  font-weight: 400;
  color: #57004f;
}
.blog .sidebar button {
  margin: 7px 0;
  font-weight: 600;
}
.blog .sidebar ul {
  text-align: left;
}
.blog .sidebar li {
  padding: 15px 0;
  border-bottom: 1px solid #999;
  -webkit-transition: 0.2s all ease-in-out;
  -moz-transition: 0.2s all ease-in-out;
  transition: 0.2s all ease-in-out;
}
.blog .sidebar li:hover a {
  color: #e94647;
  font-weight: 400;
}
.blog .sidebar a {
  font-size: 15px;
  font-weight: 400;
  color: #000;
}
.blog .sidebar.tags a {
  background-color: #e94647;
  padding: 5px 15px;
  font-size: 13px;
  text-transform: uppercase;
  color: #fff;
  -webkit-transition: 0.2s all ease-in-out;
  -moz-transition: 0.2s all ease-in-out;
  transition: 0.2s all ease-in-out;
}
.blog .sidebar.tags a:hover {
  color: #000;
  background-color: #ff6b59;
}
.blog .sidebar.tags li {
  color: #fff;
  display: inline-block;
  border: 0;
  padding: 0;
  margin: 7px 4px;
}
.form-single {
  padding: 25px 0 25px 0;
  margin: 15px 0;
}
.form-single form {
  clear: both;
  background-color: #2b2822;
  padding: 25px 0 20px 0;
}
.form-single .input-group {
  padding: 0 15px 0 15px;
  background-color: transparent;
}
.form-single input[type="submit"] {
  border: 0;
  padding: 8px 15px;
}
.form-single strong {
  color: #423636;
  padding: 0 15px 6px 15px;
  display: inline-block;
}
.comment-respond {
  clear: both;
  padding: 25px 0;
}
@media only screen and (max-width: 990px) {
  .comment-respond .comment-form {
    text-align: center;
  }
}
.comment-respond .comment-form a {
  color: $customyellow2;
}
.comment-respond .comment-form p {
  display: block;
  padding: 2px 0;
}
.comment-respond .comment-form label {
  display: block;
}
.comment-respond .comment-form input,
.comment-respond .comment-form textarea {
  border: 1px solid $customyellow2;
  padding: 7px 15px;
  font-weight: 600;
  font-size: 16px;
  color: $customyellow2;
  outline: 0;
  max-width: 100%;
}
@media only screen and (max-width: 990px) {
  .comment-respond .comment-form input,
  .comment-respond .comment-form textarea {
    width: 100%;
  }
}
.comment-respond .comment-form textarea {
  width: 100%;
  max-width: 100%;
  height: 100px;
  max-height: 150px;
}
.comment-respond .comment-form .submit,
.comment-respond .comment-form input[type="submit"] {
  font-weight: 600;
  border: 0;
  outline: 0;
  padding: 5px 15px;
}
#comments {
  font-size: 18px;
  font-weight: 100;
  clear: both;
  padding: 25px 0;
  margin: 0;
}
.commentlist {
  list-style: none;
  padding: 15px 0;
  font-size: 16px;
  font-style: normal;
}
.commentlist .fn {
  font-size: 16px;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
  padding: 0 15px;
}
.commentlist .fn a {
  font-size: 16px;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
  color: $customyellow1;
}
.commentlist .fn a:hover {
  color: rgba(0,0,0,0.7);
}
.commentlist .comment-awaiting-moderation {
  font-size: 18px;
  font-weight: 100;
  font-style: normal;
  margin: 15px 0;
}
.commentlist a {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  color: $customyellow1;
}
.commentlist a:hover {
  color: rgba(0,0,0,0.7);
}
.commentlist p {
  font-size: 15px;
  padding: 5px 0;
  font-weight: 600;
}
.commentlist .comment-reply-link {
  font-size: 10px;
  padding: 5px 15px;
}
.commentlist .commentmetadata {
  padding: 5px 0;
}
.commentlist .commentmetadata a {
  font-size: 16px;
  font-weight: 100;
}
.commentlist .comment-body {
  padding: 15px 0;
}
.newsletter2 form {
  padding: 20px;
}
.sub-title-venda {
  display: block;
  padding: 15px 17px 0;
  font-size: 18px;
}
.recent-blog-title {
  padding: 7px 0 !important;
}
.mod-contato {
  padding: 80px 0;
  background-color: #e94647;
  font-size: 17px;
  color: #fff;
  background-image: url(".././img/bg-madgo-4.png");
  background-position: top center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  border-bottom: 3px solid #ff6b59;
}
@media only screen and (max-width: 767px) {
  .mod-contato {
    text-align: center;
  }
}
.mod-contato .page-header {
  margin: 0;
  padding-bottom: 25px;
}
.mod-contato .page-header h1 {
  font-size: 36px;
  font-weight: 100;
}
.mod-contato .form .btn {
  padding: 5px 50px;
}
.mod-contato label {
  font-size: 12px;
  font-weight: 100;
}
.mod-contato p {
  color: #2b2822;
  font-size: 16px;
}
.mod-contato .absolute {
  margin-top: 250px;
}
@media only screen and (max-width: 767px) {
  .mod-contato .absolute {
    margin: 50px 0;
    text-align: left;
  }
}
.mod-contato .absolute b {
  display: block;
  text-align: center;
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 14px;
  color: #808080;
}
.mod-contato .absolute p {
  color: #fff;
  font-size: 20px;
  padding: 0;
}
.mod-contato .absolute li {
  display: table;
  padding: 5px 0;
  font-weight: 300;
  font-size: 15px;
}
.mod-contato .absolute i,
.mod-contato .absolute span {
  display: table-cell;
  padding-right: 5px;
}
.mod-contato.page .page-header {
  margin: 0;
  padding-bottom: 25px;
}
.mod-contato.page .page-header h1 {
  font-size: 36px;
  font-weight: 700;
}
.mod_essencia {
  padding: 80px 0;
  background-image: url(".././img/bg-madgo-2.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-color: #fbfbfb;
}
@media only screen and (max-width: 767px) {
  .mod_essencia {
    padding: 25px 0;
  }
}
.mod_essencia .page-header {
  font-size: 18px;
  color: #999;
  font-weight: 100;
}
.mod_essencia .page-header h1 {
  font-size: 36px;
  font-weight: 100;
  color: #666;
}
.mod_essencia .page-header h2 {
  font-weight: 200;
}
.mod_essencia p {
  color: #6f6f6f;
  font-size: 24px;
  font-weight: 100;
  line-height: 1.4;
}
.mod_essencia strong {
  color: #e94647;
  font-weight: 100;
}
#mod_header {
  height: 100%;
  min-height: 100vh;
  max-height: 900px;
  margin-top: 78px;
  background-color: #e94647;
  background-image: url(".././img/bg-madgo-1.png");
  background-position: top center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  text-align: center;
  color: #fff;
  font-size: 27px;
  font-weight: 400;
  position: relative;
}
#mod_header .absolute {
  position: absolute;
  padding: 25px 10px;
  top: 50%;
  left: 15px;
  right: 15px;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
}
@media only screen and (max-width: 990px) {
  #mod_header .absolute {
    position: static;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
}
#mod_header .absolute p {
  font-size: 27px;
}
#mod_header article {
  padding-bottom: 50px;
}
#mod_header figure {
  padding-bottom: 50px;
}
#mod_header strong {
  font-weight: 100;
  background-color: #b03d3c;
  padding: 5px;
}
#mod_header p {
  line-height: 1.9;
  display: inline-block;
  padding: 0;
  margin: 0;
}
.list-madgoodones {
  padding: 80px 0;
  color: #999;
  background-color: #fbfbfb;
}
@media only screen and (max-width: 767px) {
  .list-madgoodones {
    padding: 25px 0;
  }
}
.list-madgoodones figure {
  padding: 15px;
}
.list-madgoodones h1 {
  color: #000;
  font-size: 21px;
  font-weight: 700;
}
.list-madgoodones p {
  font-size: 16px;
  line-height: 1.4;
}
.list-madgoodones-2 {
  background-color: #f6f1f1;
}
.list-madgoodones-2 p,
.list-madgoodones-2 li,
.list-madgoodones-2 a {
  color: #666;
  font-size: 20px;
  font-weight: 100;
  padding: 0;
  line-height: 1.5;
}
.list-madgoodones-2 a:hover {
  color: #e94647;
}
#mod_navbar2 {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  border-radius: 0;
  border: 0;
  margin: 0 auto;
  z-index: 20;
  -webkit-transition: 0.2s all ease-in;
  -moz-transition: 0.2s all ease-in;
  transition: 0.2s all ease-in;
  min-height: 78px;
  background-color: #fff;
}
#mod_navbar2 .navbar-wrapper {
  max-width: 1024px;
}
@media only screen and (max-width: 1023px) {
  #mod_navbar2 {
    top: 0;
    padding: 0 15px;
  }
}
@media only screen and (min-width: 1170px) {
  #mod_navbar2-wrapper {
    max-width: 1024px;
  }
}
#mod_navbar2 .branding {
  text-align: left;
  display: block;
  padding: 0;
}
@media only screen and (min-width: 1170px) {
  #mod_navbar2 .branding {
    text-align: center;
  }
}
@media only screen and (max-width: 767px) {
  #mod_navbar2 .branding img {
    max-width: 47%;
  }
}
#mod_navbar2 .glyphicon {
  color: #ff6b59;
}
#mod_navbar2.navbar-shrink {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 0 15px 0 15px;
  border: 0;
  z-index: 20;
  background-color: #fff;
}
#mod_navbar2 .menu ul {
  float: right;
  margin: 0 auto;
  padding: 0;
  list-style: none;
}
@media only screen and (max-width: 1023px) {
  #mod_navbar2 .menu ul {
    float: none;
  }
}
#mod_navbar2 .menu ul li {
  padding-right: 10px;
}
#mod_navbar2 .menu ul li:last-child {
  padding-right: 0;
}
#mod_navbar2 .menu ul li.active a {
  color: #ff6b59;
  background-color: transparent;
  border-top: 3px solid #ff6b59;
}
@media only screen and (max-width: 1023px) {
  #mod_navbar2 .menu ul li.active a {
    border: 0;
  }
}
#mod_navbar2 .menu ul li a {
  border-top: 3px solid transparent;
  font-weight: 400;
  text-decoration: none;
  padding: 27px 10px;
}
@media only screen and (max-width: 1023px) {
  #mod_navbar2 .menu ul li a {
    padding: 0 5px;
  }
}
#mod_navbar2 .menu__list {
  text-align: center;
}
#mod_navbar2 .menu__list li a {
  font-size: 14px;
  color: #666;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  transition: 0.2s;
  -webkit-transition: 0.2s color linear;
  border-top: 0px solid transparent;
  -webkit-transition: 0.2s all ease-in;
  -moz-transition: 0.2s all ease-in;
  transition: 0.2s all ease-in;
}
@media only screen and (max-width: 1023px) {
  #mod_navbar2 .menu__list li a {
    color: #ff6b59;
  }
}
#mod_navbar2 .menu__list li a:hover {
  color: #ff6b59;
}
#mod_navbar2 .menu__list li a:active {
  font-weight: 700;
}
#mod_navbar2 .menu__icons li {
  padding: 24px 5px;
}
#mod_navbar2 .menu__icons li a span[class^="icon-"],
#mod_navbar2 .menu__icons li a span[class*=" icon-"] {
  font-size: 20px;
  color: corIconSocial;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  transition: 1s;
  -webkit-transition: 1s all linear;
}
#mod_navbar2 .menu__icons li a span[class^="icon-"]:hover,
#mod_navbar2 .menu__icons li a span[class*=" icon-"]:hover {
  color: roxo;
}
@media only screen and (max-width: 1023px) {
  #mod_navbar2 .menu {
    width: 100%;
    max-height: 0;
    overflow: hidden;
    -webkit-transition: 1s all linear;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    transition: 0.5s;
    transition-delay: 0.5s;
  }
  #mod_navbar2 .menu .separetor {
    display: block;
    border: 1px solid #808080;
  }
  #mod_navbar2 .menu .separetor:after {
    padding: 0;
    font-size: 0;
    content: '';
  }
  #mod_navbar2 .menu .col-xs-12 {
    width: 100%;
  }
  #mod_navbar2 .menu ul {
    display: block;
    text-align: center;
    max-height: 0;
    overflow: hidden;
    -webkit-transition: 1s all linear;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    transition: 1s;
  }
  #mod_navbar2 .menu ul li {
    display: block;
    width: 100%;
    padding: 5px 5px;
    margin: 5px 0;
  }
  #mod_navbar2 .menu ul li a {
    font-size: 16px;
  }
  #mod_navbar2 .menu .menu__icons {
    padding-bottom: 5px;
  }
  #mod_navbar2 .menu .menu__icons li {
    display: inline-block;
  }
  #mod_navbar2 .menu.active {
    max-height: 100vh;
  }
  #mod_navbar2 .menu.active ul {
    max-height: 100vh;
  }
}
#mod_navbar2 .menu-collapse {
  font-size: 0;
  padding: 0;
  cursor: pointer;
}
@media only screen and (max-width: 1023px) {
  #mod_navbar2 .menu-collapse {
    font-size: 24px;
    padding: 22px 0;
  }
}
.mod_oquefazemos {
  background-color: #e94647;
  background-image: url(".././img/o-que-fazemos.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  min-height: 700px;
  padding: 80px 0;
}
@media only screen and (max-width: 767px) {
  .mod_oquefazemos {
    padding: 25px 10px;
    min-height: 100%;
  }
}
.mod_oquefazemos .page-header h1 {
  display: inline-block;
  color: #fff;
  font-size: 36px;
  font-weight: 100;
  padding: 0 5px;
}
.mod_oquefazemos p {
  font-size: 90px;
  font-family: 'Conv_CaeciliaLTStd-Light';
  color: #fff;
}
@media only screen and (max-width: 767px) {
  .mod_oquefazemos p {
    font-size: 32px;
  }
}
.mod_oquefazemos p span {
  color: #b03d3c;
}
.mod_quemsomos {
  padding: 100px 0;
  background-color: #2b2822;
  color: #fff;
  background-image: url(".././img/bg-madgo-3.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
@media only screen and (max-width: 767px) {
  .mod_quemsomos {
    padding: 25px 0;
  }
}
.mod_quemsomos .page-header h1 {
  font-size: 36px;
  font-weight: 100;
}
.mod_quemsomos p {
  padding: 5px 0;
  font-size: 20px;
  font-weight: 100;
  color: #999;
}
.mod_quemsomos strong {
  color: #e94647;
  font-weight: 100;
}
.mod-clientes {
  padding: 50px 10px;
  background-color: #35322d;
}
.mod-clientes .page-header h1 {
  color: #fff;
  font-size: 36px;
  font-weight: 300;
}
.mod-clientes .item {
  text-align: center;
  border-bottom: 1px solid #b03d3c;
  border-top: 1px solid #b03d3c;
  margin-bottom: 15px;
}
.mod-clientes .item img {
  margin: 0 auto;
}
.mod-clientes .carousel-indicators {
  position: relative !important;
  bottom: 0;
}
.mod-clientes .carousel-indicators li {
  border: 0;
  background-color: #000;
}
.mod-clientes .carousel-indicators li.active {
  background-color: #2b2822;
}
.isotope {
  padding: 50px 0;
  background-color: #2b2822;
  color: #fff;
}
.isotope .page-header {
  padding-right: 15px;
  padding-left: 15px;
}
.isotope .page-header h1 {
  font-weight: 300;
  color: #fff;
  font-size: 36px;
}
.isotope .page-header h2 {
  font-weight: 18px;
  font-weight: 300;
  color: #fff;
}
.isotope .page-header strong {
  font-weight: 300;
  color: #e94647;
}
.isotope .grid {
  padding: 20px 0 0;
}
.isotope .element-item {
  position: relative;
  display: inline-block;
  width: 100%;
  min-height: 200px;
  max-height: 200px;
  background-color: #f1f1f1;
  margin-bottom: 3px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
@media screen and (min-width: 480px) {
  .isotope .element-item {
    width: 50%;
  }
}
@media screen and (min-width: 768px) {
  .isotope .element-item {
    width: 33%;
  }
}
.isotope .element-item a {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.2);
  -webkit-transition: 0.5s all ease-in-out;
  -moz-transition: 0.5s all ease-in-out;
  transition: 0.5s all ease-in-out;
}
.isotope .element-item a:hover {
  background-color: transparent;
}
.isotope .element-item a:hover figcaption {
  opacity: 1;
}
.isotope .element-item figcaption {
  position: absolute;
  bottom: 15px;
  left: 15px;
  right: 15px;
  opacity: 0;
  -webkit-transition: 0.5s all ease-in-out;
  -moz-transition: 0.5s all ease-in-out;
  transition: 0.5s all ease-in-out;
}
.isotope .element-item figcaption strong {
  font-size: 12px;
  font-weight: normal;
  color: #fff;
  background-color: #5c5c5c;
  display: inline-block;
  padding: 2px 10px;
  margin-bottom: 10px;
}
.isotope .element-item figcaption strong:first-child {
  font-size: 14px;
  text-transform: uppercase;
}
.isotope .element-item figcaption strong:last-child {
  margin: 0;
}
.isotope .button {
  text-transform: capitalize;
  font-size: 14px;
  font-weight: 300;
  padding: 2px 5px;
  background-color: #ff6b59;
  border: 0;
  margin-bottom: 2px;
  color: #fff;
}
.isotope .button:hover {
  background-color: #5c5c5c;
}
.isotope .button-group {
  padding: 0 15px;
}
.mod-page-job-1 {
  color: rgba(0,0,0,0.6);
  line-height: 1.5;
}
.mod-page-job-1.webdesign {
  padding-top: 109px;
}
@media only screen and (max-width: 767px) {
  .mod-page-job-1.webdesign {
    padding-top: 134px;
  }
}
.mod-page-job-1 .navigation-cases {
  position: fixed;
  top: 78px;
  left: 0;
  right: 0;
  background-color: #000;
  z-index: 10;
  color: #fff;
  background-color: #3d3d3d;
  font-size: 14px;
}
.mod-page-job-1 .navigation-cases div {
  padding: 5px 15px;
}
.mod-page-job-1 .navigation-cases div:first-child {
  text-align: right;
  background-color: #1f1f1f;
}
.mod-page-job-1 .navigation-cases strong {
  font-weight: 600;
}
.mod-page-job-1 .navigation-cases span {
  font-weight: 300;
}
.mod-page-job-1 .navigation-cases a {
  font-weight: 300;
  color: #fff;
}
.mod-page-job-1 .navigation-cases a:hover {
  text-decoration: none;
}
.mod-page-job-1 .navigation-cases a:before {
  content: '| ';
}
@media only screen and (max-width: 767px) {
  .mod-page-job-1 .navigation-cases {
    font-size: 12px;
  }
  .mod-page-job-1 .navigation-cases div {
    text-align: center;
  }
  .mod-page-job-1 .navigation-cases div:first-child {
    text-align: center;
  }
}
.mod-page-job-1 .fullpage {
  margin: 0;
  padding: 0;
  background-color: #fff;
  background-size: cover;
  background-position: top center;
  background-attachment: fixed;
  height: 100vh;
  min-height: 300px;
  max-height: 800px;
}
.mod-page-job-1 .fullpage-webdesign {
  margin: 0;
  padding: 0;
  background-color: #e40329;
  background-position: right center;
  background-repeat: no-repeat;
  background-size: 50%;
  height: calc(100vh - 109px);
  min-height: 300px;
  max-height: 800px;
}
@media only screen and (max-width: 767px) {
  .mod-page-job-1 .fullpage-webdesign {
    height: 100%;
    background-image: none !important;
    max-height: 100%;
  }
}
.mod-page-job-1 .fullpage-webdesign img {
  margin-top: 50px;
}
.mod-page-job-1 .fullpage-webdesign .content {
  padding: 50px 0;
  clear: both;
  color: #fff;
}
.mod-page-job-1 .fullpage-webdesign .content p {
  line-height: 1.2;
}
.mod-page-job-1 .fullpage-webdesign .content h1 {
  font-size: 35px;
  font-weight: 700;
}
.mod-page-job-1 .content {
  padding: 30px 5px;
}
@media only screen and (min-width: 1170px) {
  .mod-page-job-1 .content {
    padding: 75px 0;
  }
}
.mod-page-job-1 .content-webdesign {
  padding: 50px 0;
  background-color: #fff;
  color: #666;
}
.mod-page-job-1 .content-webdesign h1 {
  font-size: 35px;
}
.mod-page-job-1 .wireframe-webdesign {
  padding: 70px 0;
  background-color: #f3eeee;
}
.mod-page-job-1 .wireframe-webdesign h1 {
  font-size: 20px;
}
.mod-page-job-1 .site-webdesign {
  padding: 70px 0 0;
}
.mod-page-job-1 .site-webdesign .container {
  max-width: 1170px;
}
.mod-page-job-1 .site-webdesign .lista-header {
  background-color: #e9e4e4;
  padding: 15px 10px;
  text-align: center;
}
.mod-page-job-1 .site-webdesign .lista-header strong {
  font-size: 15px;
  font-weight: 900;
}
.mod-page-job-1 .site-webdesign .lista ol {
  background-color: #eee;
  color: #666;
  display: block;
  padding: 25px 10px 25px 30px;
}
.mod-page-job-1 .site-webdesign .lista li {
  font-size: 14px;
  font-weight: 700;
  padding-bottom: 20px;
}
.mod-page-job-1 .site-webdesign .lista li:last-child {
  padding: 0;
}
.mod-page-job-1 .site-webdesign .lista li span {
  font-weight: 400;
}
@media only screen and (max-width: 767px) {
  .mod-page-job-1 .tecnologias {
    padding: 20px 10px;
  }
}
.mod-page-job-1 .tecnologias .aside-title {
  padding: 20px;
  background-color: #2b2822;
}
.mod-page-job-1 .tecnologias .aside-title h1 {
  margin: 0;
  color: #fff;
}
.mod-page-job-1 .tecnologias ul {
  padding: 20px 20px 0 20px;
}
@media only screen and (max-width: 767px) {
  .mod-page-job-1 .tecnologias ul {
    text-align: center;
  }
}
.mod-page-job-1 .tecnologias li {
  padding-bottom: 15px;
}
.mod-page-job-1 .tecnologias li:last-child {
  padding-bottom: 0;
}
.mod-page-job-1 p {
  margin: 0;
  padding: 10px 0;
  line-height: 1.4;
  font-size: 14px;
}
.mod-page-job-1 a {
  font-weight: 100;
  color: #ff6b59;
}
.mod-page-job-1 a:hover {
  text-decoration: underline;
}
.mod-page-job-1 h1 {
  font-size: 15px;
  margin-bottom: 5px;
}
@media only screen and (max-width: 767px) {
  .mod-page-job-1 p {
    text-align: justify;
  }
  .mod-page-job-1 h1 {
    text-align: center;
  }
}
@media only screen and (max-width: 990px) {
  .controls-mod-job {
    display: none;
  }
}
.controls-mod-job .controls-left,
.controls-mod-job .controls-right {
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
  position: fixed;
  top: 50%;
  left: 0;
  -webkit-transition: 0.2s all ease-in;
  -moz-transition: 0.2s all ease-in;
  transition: 0.2s all ease-in;
  font-size: 42px;
  color: #000;
  padding: 15px;
  background-color: rgba(255,255,255,0.45);
}
.controls-mod-job .controls-left:hover,
.controls-mod-job .controls-right:hover {
  color: #fff;
  background-color: #000;
}
.controls-mod-job .controls-right {
  float: right;
  right: 0;
  left: inherit;
}
.mod-page-servicos {
  margin-top: 78px;
  color: #fff;
}
.mod-page-servicos .content-text {
  padding: 50px 0;
  color: #5f5f5f;
}
.mod-page-servicos .content-text .container {
  max-width: 768px;
}
.mod-page-servicos .content-text h6 {
  font-size: 18px;
}
.mod-page-servicos .content-text h5 {
  font-size: 20px;
}
.mod-page-servicos .content-text h4 {
  font-size: 22px;
}
.mod-page-servicos .content-text h3 {
  font-size: 24px;
}
.mod-page-servicos .content-text h2 {
  font-size: 26px;
}
.mod-page-servicos .content-text h1 {
  font-size: 28px;
}
.mod-page-servicos .content-text p {
  line-height: 1.4;
  margin: 10px 0;
  padding: 0;
}
.mod-page-servicos .content-text p:last-child {
  margin: 1px;
}
.mod-page-servicos .content .page-header {
  background-color: #2b2822;
  padding: 50px 0;
  margin: 0;
  font-weight: 300;
  font-size: 24px;
}
.mod-page-servicos .content .page-header p {
  margin: 0;
  padding: 15px 0 0;
}
.mod-page-servicos .content .page-header h1 {
  font-weight: 700;
  color: #fff;
}
.mod-page-servicos .content .page-header h1 a {
  font-weight: 400;
  color: #e94647;
}
.mod-page-servicos .content .page-header h1 a:hover {
  color: #ff6b59;
}
.mod-page-servicos .content .page-header strong {
  font-weight: 300;
  color: #e94647;
}
.mod-page-servicos .content .page-header .container {
  max-width: 768px;
}
.owl-wrapper {
  min-height: 500px;
  background-color: #2b2822;
}
.mod-portfolio-1 {
  background-color: #2b2822;
  overflow: hidden;
  zoom: 1;
}
.mod-portfolio-1 .header-section {
  padding: 25px 15px;
  color: #fff;
  text-align: center;
}
.mod-portfolio-1 .header-section h1 {
  font-size: 36px;
  font-weight: 300;
}
.mod-portfolio-1 .header-section h2 {
  font-size: 18px;
  font-weight: 300;
}
.mod-portfolio-1 .header-section h2 span {
  color: #e94646;
}
.mod-portfolio-1 .header-section strong {
  font-size: 12px;
  font-weight: 400;
  cursor: pointer;
  padding: 25px;
}
.mod-portfolio-1 .header-section strong:hover {
  color: #e94646;
}
.mod-portfolio-1 .header-section .filter-owl {
  padding-top: 25px;
}
.mod-portfolio-1 .owl-button {
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
  position: absolute;
  top: 50%;
  padding-left: 15px;
  color: #fff;
  font-size: 22px;
  z-index: 2;
  cursor: pointer;
  opacity: 0.3;
  -webkit-transition: 0.2s all ease-in;
  -moz-transition: 0.2s all ease-in;
  transition: 0.2s all ease-in;
}
.mod-portfolio-1 .owl-button:hover {
  opacity: 1;
}
.mod-portfolio-1 .owl-button.next {
  right: 0;
  padding-left: 0;
  padding-right: 15px;
}
.mod-portfolio-1 .owl-button i {
  border-radius: 100%;
  padding: 2px 10px 3px 10px;
  background-color: #000;
}
.mod-portfolio-1 .owl-carousel .item,
.mod-portfolio-1 .owl-carousel .design,
.mod-portfolio-1 .owl-carousel .webdesign {
  position: relative;
  overflow: hidden;
  min-height: 250px;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-transition: 0.2s all ease-in;
  -moz-transition: 0.2s all ease-in;
  transition: 0.2s all ease-in;
}
.mod-portfolio-1 .owl-carousel .item:hover,
.mod-portfolio-1 .owl-carousel .design:hover,
.mod-portfolio-1 .owl-carousel .webdesign:hover {
  background-position: top left;
}
.mod-portfolio-1 .owl-carousel .item .wrapper,
.mod-portfolio-1 .owl-carousel .design .wrapper,
.mod-portfolio-1 .owl-carousel .webdesign .wrapper {
  position: absolute;
  overflow: hidden;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  -ms-transform: scale(1.3); /* IE 9 */
  -webkit-transform: scale(1.3); /* Safari */
  transform: scale(1.3); /* Standard syntax */
  -webkit-transition: 0.2s all ease-in;
  -moz-transition: 0.2s all ease-in;
  transition: 0.2s all ease-in;
}
.mod-portfolio-1 .owl-carousel .item .wrapper:hover,
.mod-portfolio-1 .owl-carousel .design .wrapper:hover,
.mod-portfolio-1 .owl-carousel .webdesign .wrapper:hover {
  -ms-transform: scale(1); /* IE 9 */
  -webkit-transform: scale(1); /* Safari */
  transform: scale(1); /* Standard syntax */
  background-color: rgba(43,40,34,0.9);
  opacity: 1;
}
.mod-portfolio-1 .owl-carousel .item .wrapper .content,
.mod-portfolio-1 .owl-carousel .design .wrapper .content,
.mod-portfolio-1 .owl-carousel .webdesign .wrapper .content {
  position: absolute;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
  top: 50%;
  left: 10px;
  right: 10px;
  text-align: center;
  color: #fff;
}
.mod-portfolio-1 .owl-carousel .item .wrapper .content h1,
.mod-portfolio-1 .owl-carousel .design .wrapper .content h1,
.mod-portfolio-1 .owl-carousel .webdesign .wrapper .content h1 {
  padding: 0 0 10px 0;
  margin: 0;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
}
.mod-portfolio-1 .owl-carousel .item .wrapper .content p,
.mod-portfolio-1 .owl-carousel .design .wrapper .content p,
.mod-portfolio-1 .owl-carousel .webdesign .wrapper .content p {
  font-size: 15px;
  font-weight: 300;
  margin: 0;
  padding: 0 0 10px 0;
}
.mod-portfolio-1 .owl-carousel .item .wrapper .content p strong,
.mod-portfolio-1 .owl-carousel .design .wrapper .content p strong,
.mod-portfolio-1 .owl-carousel .webdesign .wrapper .content p strong {
  display: inline-block;
  font-size: 12px;
  font-weight: 300;
  padding: 0 0 30px 0;
  margin: 0;
}
.mod-portfolio-1 .owl-carousel .item .wrapper .content a,
.mod-portfolio-1 .owl-carousel .design .wrapper .content a,
.mod-portfolio-1 .owl-carousel .webdesign .wrapper .content a {
  display: inline-block;
  background-color: #dc0000;
  font-size: 13px;
  font-weight: 600;
  color: #fff;
  padding: 10px 25px;
}
.mod-portfolio-1 .owl-carousel .item .wrapper .content a:hover,
.mod-portfolio-1 .owl-carousel .design .wrapper .content a:hover,
.mod-portfolio-1 .owl-carousel .webdesign .wrapper .content a:hover {
  background-color: #b00000;
}
.mod-portfolio-1 .owl-carousel .webdesign:hover {
  background-position: top right;
}
.mod-portfolio-1 .owl-carousel .webdesign .wrapper {
  -ms-transform: scale(0.6); /* IE 9 */
  -webkit-transform: scale(0.6); /* Safari */
  transform: scale(0.6); /* Standard syntax */
}
.mod-portfolio-1 .owl-carousel .webdesign .wrapper:hover {
  background-color: rgba(220,0,0,0.85);
}
.mod-portfolio-1 .owl-carousel .webdesign .wrapper .content a {
  background-color: #2b2822;
}
.mod-portfolio-1 .owl-carousel .webdesign .wrapper .content a:hover {
  background-color: #060605;
}
.mod-portfolio-1 .owl-carousel.removing .item {
  -ms-transform: scale(0); /* IE 9 */
  -webkit-transform: scale(0); /* Safari */
  transform: scale(0); /* Standard syntax */
}
.mod-portfolio-1 .owl-carousel .owl-controls {
  display: none;
}
.mod-servicos-estatico .mod-servicos {
  position: relative;
  opacity: 1;
  z-index: 1;
  padding: 0;
}
.mod-servicos-estatico .mod-servicos-toggle {
  display: none;
}
.mod-servicos {
  -webkit-transition: 0.2s all ease-in;
  -moz-transition: 0.2s all ease-in;
  transition: 0.2s all ease-in;
  background-color: #2b2822;
  position: fixed;
  top: 0;
  padding-top: 78px;
  left: 0;
  right: 0;
  z-index: -1;
  opacity: 0;
}
.mod-servicos.active {
  opacity: 1;
  z-index: 15;
  height: 532px;
  overflow-y: auto;
  zoom: 1;
}
@media screen and (max-width: 900px) {
  .mod-servicos.active {
    height: 100vh;
  }
}
.mod-servicos-toggle {
  position: absolute;
  z-index: 15;
  right: 15px;
  top: 90px;
}
.mod-servicos-toggle span {
  font-size: 15px;
}
.mod-servicos-toggle a {
  font-size: 24px;
  color: #fff;
}
.mod-servicos .servicos-header {
  padding: 50px 10px 25px 10px;
  background-color: #2b2822;
}
.mod-servicos .servicos-header h1 {
  -webkit-transition: 0.5s all ease-in-out;
  -moz-transition: 0.5s all ease-in-out;
  transition: 0.5s all ease-in-out;
  color: #e94647;
  font-size: 26px;
}
.mod-servicos .servicos-header .title.active h1 {
  color: #fff;
}
.mod-servicos .servicos-content {
  min-height: 350px;
  background-color: #35322c;
  background-image: url("../img/bg-dog.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right bottom;
}
.mod-servicos .servicos-content .list {
  border-right: 3px solid #2b2822;
}
.mod-servicos .servicos-content .list:last-child {
  border: 0;
}
.mod-servicos .servicos-content ul {
  padding: 25px 10px;
}
.mod-servicos .servicos-content a {
  display: inline-block;
  padding: 2.5px 10px;
  font-weight: 300;
  color: #fff;
  -webkit-transition: 0.2s all ease-in-out;
  -moz-transition: 0.2s all ease-in-out;
  transition: 0.2s all ease-in-out;
}
.mod-servicos .servicos-content a:hover {
  font-weight: 600;
  background-color: #e94647;
}
.mod-servicos .servicos-content span {
  display: inline-block;
  padding: 2.5px 10px;
  font-weight: 300;
  color: #fff;
}
.newsletter-bar {
  -webkit-transition: 0.2s all ease-in-out;
  -moz-transition: 0.2s all ease-in-out;
  transition: 0.2s all ease-in-out;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #2b2822;
  color: #fff;
  padding: 10px 0;
  max-height: 0;
  opacity: 0;
}
.newsletter-bar.active {
  opacity: 1;
  max-height: 100%;
  z-index: 20;
}
@media only screen and (max-width: 767px) {
  .newsletter-bar {
    display: none;
  }
}
.newsletter-bar p {
  font-size: 20px;
  padding: 7px 0;
  margin: 0;
}
.newsletter-bar-button {
  position: absolute;
  top: 0;
  right: 0;
  padding-top: 8.5px;
  background-color: transparent;
  color: #fff;
  border: 0;
}
.newsletter-bar .form-group {
  margin: 0;
}
.newsletter-bar .form-group .form-control {
  display: inline-block;
  width: auto;
  border-radius: 0;
  background-color: transparent;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 3px solid rgba(255,255,255,0.8);
  -webkit-box-shadow: initial;
  -webkit-box-shadow: initial;
  -moz-box-shadow: initial;
  box-shadow: initial;
  color: #fff;
}
.newsletter-bar .form-group .form-control:focus {
  outline: 0;
  -webkit-box-shadow: initial;
  -webkit-box-shadow: initial;
  -moz-box-shadow: initial;
  box-shadow: initial;
  border-color: #ff6b59;
}
.newsletter-bar .form-group .form-button {
  -webkit-transition: 0.3s all ease-in-out;
  -moz-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
  padding: 5px 15px;
  background-color: transparent;
  border: 3px solid rgba(255,255,255,0.8);
  color: #fff;
}
.newsletter-bar .form-group .form-button:hover {
  border-color: #ff6b59;
  color: #ff6b59;
}
.planejamento-estrategico {
  padding-top: 50px;
}
.planejamento-estrategico .page-header {
  margin: 0 0 25px;
  padding: 0;
}
@media only screen and (max-width: 990px) {
  .planejamento-estrategico .page-header {
    margin: 25px 0;
  }
}
.planejamento-estrategico .page-header h1 {
  font-size: 36px;
  font-weight: 300;
}
.planejamento-estrategico .content {
  padding: 0 0 50px;
}
.planejamento-estrategico .formula {
  padding: 80px 15px;
  background-color: #f6f1f1;
  text-align: center;
}
.planejamento-estrategico .formula span,
.planejamento-estrategico .formula strong {
  line-height: 1;
}
.planejamento-estrategico .formula span.black {
  font-size: 36px;
  text-transform: uppercase;
}
.planejamento-estrategico .formula span.red {
  color: #e94647;
}
.planejamento-estrategico .formula strong {
  font-size: 42px;
  text-transform: uppercase;
}
.planejamento-estrategico .formula-box {
  padding-top: 40px;
  background-repeat: no-repeat;
  background-position: top center;
  min-height: 90px;
}
.planejamento-estrategico .formula-box-1 {
  padding: 0;
}
.planejamento-estrategico .formula-box-1 span.black {
  font-size: 56px;
}
.planejamento-estrategico .formula-box-2 {
  background-image: url("../img/separetor-box-2.png");
}
.planejamento-estrategico .formula-box-3 {
  background-image: url("../img/separetor-box-3.png");
}
.planejamento-estrategico .formula-box-3 span.black {
  font-size: 27px;
}
.planejamento-estrategico p {
  font-size: 17px;
  font-weight: 300;
  line-height: 1.4;
  margin: 0 0 10px;
  padding: 0;
}
.planejamento-estrategico p:last-child {
  margin: 0;
}
.planejamento-estrategico p strong {
  color: #e94647;
  font-weight: 300;
}
.postit {
  -webkit-transition: 1s all ease-in;
  -moz-transition: 1s all ease-in;
  transition: 1s all ease-in;
  position: fixed;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
  opacity: 1;
  z-index: 10;
}
.postit a {
  display: block;
}
@media only screen and (max-width: 767px) {
  .postit {
    display: none;
  }
}
.postit-fixed1 {
  bottom: 10%;
  right: 0;
}
.postit-fixed2 {
  bottom: 10%;
  left: 0;
}
.wp-list-tags a {
  background-color: #e94647;
  padding: 5px 15px;
  font-size: 12px;
  font-weight: 200;
  text-transform: uppercase;
  color: #fff;
  -webkit-transition: 0.2s all ease-in-out;
  -moz-transition: 0.2s all ease-in-out;
  transition: 0.2s all ease-in-out;
}
.wp-list-tags a:hover {
  color: #000;
  background-color: #ff6b59;
}
.wp-list-tags li {
  color: #fff;
  display: inline-block;
  border: 0;
  padding: 0;
  margin: 5px 2px;
}
.frase1,
.frase2 {
  background-color: #f6f1f1;
  color: #999;
  padding: 25px 15px;
}
.frase1 p,
.frase2 p {
  font-style: italic;
  font-size: 17px;
  padding: 0;
  margin-bottom: 4px;
}
.frase1 strong,
.frase2 strong,
.frase1 b,
.frase2 b {
  font-weight: 100;
  color: #ff6b59;
  font-style: normal;
}
.frase2 {
  background-color: #35322c;
  padding: 50px 15px;
}
.frase2 p {
  font-size: 32px;
  font-weight: 100;
}
.frase2 strong,
.frase2 b {
  color: #e94647;
}
.clearheader {
  padding-top: 78px;
}
