.page-header
	border-bottom 0
	padding 0
.container
	max-width 970px
.no-gutter
	padding 0
.container--parallax
	position fixed
	top 0
	left 0
	z-index 0
.inline-block
	display inline-block
	*display inline
	zoom 1
.bx-wrapper
	margin 50px auto 15px auto !important
	text-align center
	img
		display inline-block
.bx-viewport
	background-color transparent !important
	border 0 !important
	-webkit-box-shadow none !important
	box-shadow none !important
	text-align center
	width 90% !important
	margin 0 auto
.stroke-sections
	float left
	width 100%
	img
		width 100%
		display block
		position relative
		z-index 1
		margin 0
		padding 0
.gutter
	padding 0 15px
	&--full
		padding 15px
.aligncenter
	display block
	margin 10px auto
	height auto !important
.alignright
	float right
	margin 0 0 15px 15px
.alignleft
	float left
	margin 0 15px 15px 0