.frase1,
.frase2
	background-color #f6f1f1
	color $customgray2
	padding 25px 15px
	p
		font-style italic
		font-size 17px
		padding 0
		margin-bottom 4px
	strong, b
		font-weight 100
		color $customred1
		font-style normal
.frase2
	background-color #35322c
	padding 50px 15px
	p
		font-size 32px
		font-weight 100
	strong, b
		color $customred2
.clearheader
	padding-top 78px