// MEDIA QUERYS
// Values
mobile = 480px
mobile-md = 767px
tablet =  990px
tablet-md = 1023px
desktop = 1170px
// Params
mqmobile = "only screen and (max-width: " + mobile + ")"
mqmobile-md = "only screen and (max-width: " + mobile-md + ")"
mqtablet = "only screen and (max-width: " + tablet + ")"
mqtablet-md = "only screen and (max-width: " + tablet-md + ")"
mqdesktop = "only screen and (min-width: " + desktop + ")"

// Colors
$cor1 = #FFF
$cor2 = #000
$cor3 = #ff6b59
$cor4 = #f2f2f2
$cor5 = #e94647
$cor6 = #2b2822
$cor7 = #b03d3c
$cor8 = #666666
$cor9 = #999999
$cor10 = #6f6f6f
$cor11 = #423636
$cor12 = #CCC
$cor13 = #fbfbfb

// White
$customwhite1 = $cor1
// Black
$customblack1 = $cor2
$customblack2 = $cor6
$customblack3 = $cor8
$customblack4 = $cor11
// Red
$customred1 = $cor3
$customred2 = $cor5
$customred3 = $cor7
// Gray
$customgray1 = $cor4
$customgray2 = $cor9
$customgray3 = $cor10
$customgray4 = $cor12
$customgray5 = $cor13