.page-header {
  border-bottom: 0;
  padding: 0;
}
.container {
  max-width: 970px;
}
.no-gutter {
  padding: 0;
}
.container--parallax {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
}
.inline-block,
#mod_navbar2 .menu ul,
#mod_navbar2 .menu ul li {
  display: inline-block;
  *display: inline;
  zoom: 1;
}
.bx-wrapper {
  margin: 50px auto 15px auto !important;
  text-align: center;
}
.bx-wrapper img {
  display: inline-block;
}
.bx-viewport {
  background-color: transparent !important;
  border: 0 !important;
  -webkit-box-shadow: none !important;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  text-align: center;
  width: 90% !important;
  margin: 0 auto;
}
.stroke-sections {
  float: left;
  width: 100%;
}
.stroke-sections img {
  width: 100%;
  display: block;
  position: relative;
  z-index: 1;
  margin: 0;
  padding: 0;
}
.gutter {
  padding: 0 15px;
}
.gutter--full {
  padding: 15px;
}
#scroll {
  height: 1500px;
}
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
ul {
  margin: 0;
  padding: 0;
}
ul li {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  font-weight: 700;
}
a:hover,
a:focus,
a:active {
  text-decoration: none;
}
h1 {
  margin: 0;
  font-size: 1em;
  font-weight: 700;
}
h2 {
  font-size: 1em;
  font-weight: 400;
}
p {
  font-size: 0.9em;
  line-height: 1.2;
  padding: 20px 0;
}
body,
html {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
  position: relative;
}
section {
  position: relative;
}
.ui-loader {
  height: 0;
  overflow: hidden;
}
strong {
  font-weight: 700;
}
img {
  max-width: 100%;
}
.btn {
  border-radius: 0;
  outline: 0;
}
.btn:hover,
.btn:link,
.btn:active,
.btn:focus,
.btn:visited,
.btn:click {
  outline: 0;
}
.btn-custom1 {
  padding: 0 50px;
  color: #fff;
  background-color: #2b2822;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  transition: 0.2s;
}
.btn-custom1:hover,
.btn-custom1:focus,
.btn-custom1:active,
.btn-custom1:visited {
  color: #fff;
  border-left: 1px solid #fff;
}
.input-group {
  display: inline-block;
  width: 100%;
  padding: 0 5px;
  background-color: #fff;
  font-size: 14px;
  font-weight: 700;
  color: #2b2822;
  margin-bottom: 5px;
}
.input-group input,
.input-group textarea {
  width: 100%;
  display: block;
  padding: 7px;
  border: 0;
  outline: none;
}
.input-group input::-webkit-input-placeholder,
.input-group textarea::-webkit-input-placeholder {
  font-weight: 700;
  text-align: center;
  color: #2b2822;
}
.input-group input:-moz-placeholder,
.input-group textarea:-moz-placeholder {
  font-weight: 700;
  text-align: center;
  color: #2b2822;
}
.input-group input::-moz-placeholder,
.input-group textarea::-moz-placeholder {
  font-weight: 700;
  text-align: center;
  color: #2b2822;
}
.input-group input:-ms-input-placeholder,
.input-group textarea:-ms-input-placeholder {
  font-weight: 700;
  text-align: center;
  color: #2b2822;
}
.input-group textarea {
  border: 0;
  outline: none;
  min-height: 150px;
}
.input-group--default {
  display: inline-block;
  width: 100%;
  padding: 10px 20px;
  background-color: transparent;
  font-size: 14px;
  font-weight: 700;
  color: $customgray4;
  border: 1px solid $customgray4;
  margin-bottom: 20px;
}
.input-group--default input,
.input-group--default textarea {
  width: 100%;
  display: block;
  padding: 5px 20px;
  outline: none;
  border: 0;
  background-color: transparent;
}
.input-group--default input::-webkit-input-placeholder,
.input-group--default textarea::-webkit-input-placeholder {
  font-size: 15px;
  font-weight: 100;
  text-align: left;
  color: $customgray4;
}
.input-group--default input:-moz-placeholder,
.input-group--default textarea:-moz-placeholder {
  font-size: 15px;
  font-weight: 100;
  text-align: left;
  color: $customgray4;
}
.input-group--default input::-moz-placeholder,
.input-group--default textarea::-moz-placeholder {
  font-size: 15px;
  font-weight: 100;
  text-align: left;
  color: $customgray4;
}
.input-group--default input:-ms-input-placeholder,
.input-group--default textarea:-ms-input-placeholder {
  font-size: 15px;
  font-weight: 100;
  text-align: left;
  color: $customgray4;
}
.input-group--default textarea {
  border: 0;
  outline: none;
  padding: 5px 20px;
  border-radius: 20px;
  min-height: 140px;
  resize: none;
}
.mod_contato {
  padding: 80px 0;
  background-color: #e94647;
  font-size: 17px;
  color: #fff;
  background-image: url(".././img/bg-madgo-4.png");
  background-position: top center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  border-bottom: 3px solid #ff6b59;
}
@media only screen and (max-width: 767px) {
  .mod_contato {
    text-align: center;
  }
}
.mod_contato .page-header {
  margin: 0;
  padding-bottom: 25px;
}
.mod_contato .page-header h1 {
  font-size: 36px;
  font-weight: 100;
}
.mod_contato .form .btn {
  padding: 5px 50px;
}
.mod_contato label {
  font-size: 12px;
  font-weight: 100;
}
.mod_contato p {
  color: #2b2822;
  font-size: 16px;
}
.mod_contato .absolute {
  margin-top: 250px;
}
@media only screen and (max-width: 767px) {
  .mod_contato .absolute {
    margin: 50px 0;
  }
}
.mod_essencia {
  padding: 80px 0;
  background-image: url(".././img/bg-madgo-2.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}
@media only screen and (max-width: 767px) {
  .mod_essencia {
    padding: 25px 0;
  }
}
.mod_essencia .page-header {
  font-size: 18px;
  color: #999;
  font-weight: 100;
}
.mod_essencia .page-header h1 {
  font-size: 36px;
  font-weight: 100;
  color: #666;
}
.mod_essencia .page-header h2 {
  font-weight: 200;
}
.mod_essencia p {
  color: #6f6f6f;
  font-size: 24px;
  font-weight: 100;
}
.mod_essencia strong {
  color: #ff6b59;
  font-weight: 100;
}
#mod_header {
  height: 100%;
  min-height: 100vh;
  padding: 100px 0 50px 0;
  max-height: 900px;
  background-color: #e94647;
  background-image: url(".././img/bg-madgo-1.png");
  background-position: top center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  text-align: center;
  color: #fff;
  font-size: 27px;
  font-weight: 400;
  position: relative;
}
#mod_header .absolute {
  position: absolute;
  top: 50%;
  left: 15px;
  right: 15px;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
}
@media only screen and (max-width: 990px) {
  #mod_header .absolute {
    position: static;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
}
#mod_header article {
  padding-bottom: 50px;
}
#mod_header figure {
  padding-bottom: 50px;
}
#mod_header strong {
  font-weight: 100;
  background-color: #b03d3c;
  padding: 5px;
}
#mod_header p {
  line-height: 2;
  display: inline-block;
  padding: 0;
  margin: 0;
}
.list-madgoodones {
  padding: 80px 0;
  color: #999;
}
@media only screen and (max-width: 767px) {
  .list-madgoodones {
    padding: 25px 0;
  }
}
.list-madgoodones figure {
  padding: 15px;
}
.list-madgoodones h1 {
  color: #000;
  font-size: 21px;
  font-weight: 700;
}
.list-madgoodones-2 p {
  color: #666;
  font-size: 18px;
  font-weight: 100;
  padding: 0;
  line-height: 1.5;
}
#mod_navbar2 {
  border-radius: 0;
  border: 0;
  margin: 0 auto;
  background-color: rgba(255,255,255,0.5);
  -webkit-transition: 0.2s all ease-in;
  -moz-transition: 0.2s all ease-in;
  transition: 0.2s all ease-in;
}
#mod_navbar2 .navbar-wrapper {
  max-width: 1024px;
}
@media only screen and (max-width: 1023px) {
  #mod_navbar2 {
    top: 0;
    padding: 0 15px;
  }
}
@media only screen and (min-width: 1170px) {
  #mod_navbar2-wrapper {
    max-width: 1024px;
  }
}
#mod_navbar2 .branding {
  text-align: center;
  display: block;
  padding: 0;
}
@media only screen and (max-width: 767px) {
  #mod_navbar2 .branding img {
    max-width: 47%;
  }
}
#mod_navbar2 .glyphicon {
  color: #ff6b59;
}
#mod_navbar2.navbar-shrink {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 0 15px 0 15px;
  border: 0;
  z-index: 1;
  background-color: #fff;
}
#mod_navbar2 .menu ul {
  float: right;
  margin: 0 auto;
  padding: 0;
  list-style: none;
}
@media only screen and (max-width: 1023px) {
  #mod_navbar2 .menu ul {
    float: none;
  }
}
#mod_navbar2 .menu ul li {
  padding-right: 10px;
}
#mod_navbar2 .menu ul li:last-child {
  padding-right: 0;
}
#mod_navbar2 .menu ul li.active a {
  color: #ff6b59;
  background-color: transparent;
  border-top: 3px solid #ff6b59;
}
@media only screen and (max-width: 1023px) {
  #mod_navbar2 .menu ul li.active a {
    border: 0;
  }
}
#mod_navbar2 .menu ul li a {
  font-weight: 400;
  text-decoration: none;
  padding: 27px 10px;
}
@media only screen and (max-width: 1023px) {
  #mod_navbar2 .menu ul li a {
    padding: 0 5px;
  }
}
#mod_navbar2 .menu__list {
  text-align: center;
}
#mod_navbar2 .menu__list li a {
  font-size: 14px;
  color: #666;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  transition: 0.2s;
  -webkit-transition: 0.2s color linear;
  border-top: 0px solid transparent;
  -webkit-transition: 0.2s all ease-in;
  -moz-transition: 0.2s all ease-in;
  transition: 0.2s all ease-in;
}
@media only screen and (max-width: 1023px) {
  #mod_navbar2 .menu__list li a {
    color: #ff6b59;
  }
}
#mod_navbar2 .menu__list li a:hover {
  color: #ff6b59;
}
#mod_navbar2 .menu__list li a:active {
  font-weight: 700;
}
#mod_navbar2 .menu__icons li {
  padding: 24px 5px;
}
#mod_navbar2 .menu__icons li a span[class^="icon-"],
#mod_navbar2 .menu__icons li a span[class*=" icon-"] {
  font-size: 20px;
  color: corIconSocial;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  transition: 1s;
  -webkit-transition: 1s all linear;
}
#mod_navbar2 .menu__icons li a span[class^="icon-"]:hover,
#mod_navbar2 .menu__icons li a span[class*=" icon-"]:hover {
  color: roxo;
}
@media only screen and (max-width: 1023px) {
  #mod_navbar2 .menu {
    width: 100%;
    max-height: 0;
    overflow: hidden;
    -webkit-transition: 1s all linear;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    transition: 0.5s;
    transition-delay: 0.5s;
  }
  #mod_navbar2 .menu .separetor {
    display: block;
    border: 1px solid #808080;
  }
  #mod_navbar2 .menu .separetor:after {
    padding: 0;
    font-size: 0;
    content: '';
  }
  #mod_navbar2 .menu .col-xs-12 {
    width: 100%;
  }
  #mod_navbar2 .menu ul {
    display: block;
    text-align: center;
    max-height: 0;
    overflow: hidden;
    -webkit-transition: 1s all linear;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    transition: 1s;
  }
  #mod_navbar2 .menu ul li {
    display: block;
    width: 100%;
    padding: 5px 5px;
    margin: 5px 0;
  }
  #mod_navbar2 .menu ul li a {
    font-size: 16px;
  }
  #mod_navbar2 .menu .menu__icons {
    padding-bottom: 5px;
  }
  #mod_navbar2 .menu .menu__icons li {
    display: inline-block;
  }
  #mod_navbar2 .menu.active {
    max-height: 100vh;
  }
  #mod_navbar2 .menu.active ul {
    max-height: 100vh;
  }
}
#mod_navbar2 .menu-collapse {
  font-size: 0;
  padding: 0;
  cursor: pointer;
}
@media only screen and (max-width: 1023px) {
  #mod_navbar2 .menu-collapse {
    font-size: 24px;
    padding: 14px 0;
  }
}
.mod_oquefazemos {
  background-color: #e94647;
  background-image: url(".././img/o-que-fazemos.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  min-height: 700px;
  padding: 80px 0;
}
@media only screen and (max-width: 767px) {
  .mod_oquefazemos {
    padding: 25px 0;
    min-height: 100%;
  }
}
.mod_oquefazemos .page-header h1 {
  display: inline-block;
  color: #fff;
  font-size: 36px;
  font-weight: 100;
  padding: 5px;
}
.mod_oquefazemos p {
  font-size: 80px;
  font-family: 'caecilia_lightregular';
  color: #fff;
}
@media only screen and (max-width: 767px) {
  .mod_oquefazemos p {
    font-size: 32px;
  }
}
.mod_oquefazemos p span {
  color: #b03d3c;
}
.mod_quemsomos {
  padding: 150px 0;
  background-color: #2b2822;
  color: #fff;
  background-image: url(".././img/bg-madgo-3.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
@media only screen and (max-width: 767px) {
  .mod_quemsomos {
    padding: 25px 0;
  }
}
.mod_quemsomos .page-header h1 {
  font-size: 36px;
  font-weight: 100;
}
.mod_quemsomos p {
  padding: 5px 0;
  font-size: 18px;
  font-weight: 100;
  color: #999;
}
.mod_quemsomos strong {
  color: #e94647;
  font-weight: 100;
}
.postit {
  -webkit-transition: 1s all ease-in;
  -moz-transition: 1s all ease-in;
  transition: 1s all ease-in;
  position: fixed;
  opacity: 0;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
}
.postit a {
  display: block;
}
.postit-fixed1 {
  top: 50%;
  right: 0;
}
.postit-fixed2 {
  top: 100%;
  bottom: -64px;
  right: 0;
}
.frase1,
.frase2 {
  background-color: #f6f1f1;
  color: #999;
  padding: 25px 15px;
}
.frase1 p,
.frase2 p {
  font-size: 16px;
  padding: 0;
  margin-bottom: 4px;
}
.frase1 strong,
.frase2 strong,
.frase1 b,
.frase2 b {
  font-weight: 100;
  color: #ff6b59;
}
.frase2 {
  background-color: #2b2822;
  padding: 50px 15px;
}
.frase2 p {
  font-size: 32px;
  font-weight: 100;
}
.frase2 strong,
.frase2 b {
  color: #e94647;
}
.footer {
  padding: 35px 0;
  background-color: #2b2822;
  color: #999;
}
.footer img {
  display: inline-block;
  padding-top: 5px;
  margin-top: -20px;
}
.footer span {
  font-size: 13px;
  font-weight: 100;
  display: inline-block;
}
@media only screen and (max-width: 767px) {
  .footer {
    text-align: center;
  }
}
