.btn
	border-radius 0
	outline 0
	&:hover
	&:active
	&:focus
	&:visited
		outline 0
	&-custom1
		padding 0 50px
		color $customwhite1
		background-color $customblack2
		transition(.2s all ease-in)
		&:hover
		&:focus
			background-color darken($customblack2, 15%)
			color $customwhite1
	&-custom2
		padding 0 50px
		color $customwhite1
		background-color $customred3
		transition(.2s all ease-in)
		&:hover
		&:focus
			background-color $customblack4
			color $customwhite1