.footer
	padding 35px 0
	background-color $customblack2
	color $customgray2
	img
		display inline-block
		padding-top 5px
		margin-top -20px
	span
		font-size 13px
		font-weight 100
		display inline-block
		@media mqmobile-md
			text-align center