
.mod-servicos-estatico
	.mod-servicos
		position relative
		opacity 1
		z-index 1
		padding 0
		&-toggle
			display none
.mod-servicos
	transition(.2s all ease-in)
	background-color $customblack2
	position fixed
	top 0
	padding-top 78px
	left 0
	right 0
	z-index -1
	opacity 0
	&.active
		opacity 1
		z-index 15
		height 532px
		overflow-y auto
		zoom 1
		@media screen and (max-width: 900px)
			height 100vh
	&-toggle
		position absolute
		z-index 15
		right 15px
		top 90px
		span
			font-size 15px
		a
			font-size 24px
			color $customwhite1
	.servicos-header
		padding 50px 10px 25px 10px
		background-color #2b2822
		h1
			transition(.5s all ease-in-out)
			color $customred2
			font-size 26px
		.title.active
			h1
				color $customwhite1
	.servicos-content
		min-height 350px
		background-color #35322c
		background-image url('../img/bg-dog.jpg')
		background-size cover
		background-repeat no-repeat
		background-position right bottom
		.list
			border-right 3px solid $customblack2
			&:last-child
				border 0
		ul
			padding 25px 10px
		a
			display inline-block
			padding 2.5px 10px
			font-weight 300
			color $customwhite1
			transition(.2s all ease-in-out)
			&:hover
				font-weight 600
				background-color $customred2