.mod-page-servicos
	margin-top 78px
	color $customwhite1
	.content
		&-text
			padding 50px 0
			color $gray1
			.container
				max-width 768px
			h6
				font-size 18px
			h5
				font-size 20px
			h4
				font-size 22px
			h3
				font-size 24px
			h2
				font-size 26px
			h1
				font-size 28px
			p
				line-height 1.4
				margin 10px 0
				padding 0
				&:last-child
					margin 1px
		.page-header
			background-color $customblack2
			padding 50px 0
			margin 0
			font-weight 300
			font-size 24px
			p
				margin 0
				padding 15px 0 0
			h1
				font-weight 700
				color $customwhite1
				a
					font-weight 400
					color $customred2
					&:hover
						color $customred1
			strong
				font-weight 300
				color $customred2
			.container
				max-width 768px