.list-madgoodones
	padding 80px 0
	color $customgray2
	background-color $customgray5
	@media mqmobile-md
		padding 25px 0
	figure
		padding 15px 
	h1
		color $customblack1
		font-size 21px
		font-weight 700
	p
		font-size 16px
		line-height 1.4
	&-2
		background-color #f6f1f1
		p,
		li,
		a
			color $customblack3
			font-size 20px
			font-weight 100
			padding 0
			line-height 1.5
		a:hover
			color $customred2