#mod_header
	height 100%
	min-height 100vh
	max-height 900px
	margin-top 78px
	background-color $customred2
	background-image url('.././img/bg-madgo-1.png')
	background-position top center
	background-repeat no-repeat
	background-attachment fixed
	text-align center
	color $customwhite1
	font-size 27px
	font-weight 400
	position relative
	.absolute
		position absolute
		padding 25px 10px
		top 50%
		left 15px
		right 15px
		vertical-middle(-50%)
		@media mqtablet
			position static
			vertical-middle(0)
		p
			font-size 27px
	article
		padding-bottom 50px
	figure
		padding-bottom 50px
	strong
		font-weight 100
		background-color $customred3
		padding 5px
	p
		line-height 1.9
		display inline-block
		padding 0
		margin 0
	
		