.mod-contato
	padding 80px 0
	background-color $customred2
	font-size 17px
	color $customwhite1
	background-image url('.././img/bg-madgo-4.png')
	background-position top center
	background-repeat no-repeat
	background-attachment fixed
	border-bottom 3px solid $customred1
	@media mqmobile-md
		text-align center
	.page-header
		margin 0
		padding-bottom 25px
		h1
			font-size 36px
			font-weight 100
	.form
		.btn
			padding 5px 50px
	label
		font-size 12px
		font-weight 100
	p 
		color $customblack2
		font-size 16px
	.absolute
		margin-top 250px
		@media mqmobile-md
			margin 50px 0
			text-align left
		b
			display block
			text-align center
			margin-bottom 10px
			font-weight 400
			font-size 14px
			color gray
		p
			color $customwhite1
			font-size 20px
			padding 0
		li
			display table
			padding 5px 0
			font-weight 300
			font-size 15px
		i,
		span
			display table-cell
			padding-right 5px
	&.page
		.page-header
			margin 0
			padding-bottom 25px
			h1
				font-size 36px
				font-weight 700