.mod_quemsomos
	padding 150px 0
	background-color $customblack2
	color $customwhite1
	background-image url('.././img/bg-madgo-3.png')
	background-position center center
	background-repeat no-repeat
	background-attachment fixed
	@media mqmobile-md
		padding 25px 0
	.page-header
		h1
			font-size 36px
			font-weight 100
	p
		padding 5px 0
		font-size 18px
		font-weight 100
		color $customgray2
	strong
		color $customred2
		font-weight 100