.planejamento-estrategico
	padding-top 50px
	.page-header
		margin 0 0 25px
		padding 0
		@media mqtablet
			margin 25px 0
		h1
			font-size 36px
			font-weight 300
	.content
		padding 0 0 50px
	.formula
		padding 80px 15px
		background-color #f6f1f1
		text-align center
		span,
		strong
			line-height 1
		span.black
			font-size 36px
			text-transform uppercase
		span.red
			color $customred2
		strong
			font-size 42px
			text-transform uppercase
		&-box
			padding-top 40px
			background-repeat no-repeat
			background-position top center
			min-height 90px
			&-1
				padding 0
				span.black
					font-size 56px
			&-2
				background-image url('../img/separetor-box-2.png')
			&-3
				background-image url('../img/separetor-box-3.png')
				span.black
					font-size 27px
	p
		font-size 17px
		font-weight 300
		line-height 1.4
		margin 0 0 10px
		padding 0
		&:last-child
			margin 0
		strong
			color $customred2
			font-weight 300