.wp-list-tags
	a
		background-color $customred2
		padding 5px 15px
		font-size 12px
		font-weight 200
		text-transform uppercase
		color $customwhite1
		transition(.2s all ease-in-out)
		&:hover
			color $customblack1
			background-color $customred1
	li
		color $customwhite1
		display inline-block
		border 0
		padding 0
		margin 5px 2px