.btn
	border-radius 0
	outline 0
	&:hover,
	&:link,
	&:active,
	&:focus,
	&:visited,
	&:click
		outline 0
	&-custom1
		padding 0 50px
		color $customwhite1
		background-color $customblack2
		transition (.2s all ease-in)
		&:hover,
		&:focus,
		&:active,
		&:visited
			color $customwhite1
			border-left 1px solid $customwhite1