.mod_essencia
	padding 80px 0
	background-image url('.././img/bg-madgo-2.png')
	background-repeat no-repeat
	background-position center center
	background-attachment fixed
	@media mqmobile-md
		padding 25px 0
	.page-header
		font-size 18px
		color $customgray2
		font-weight 100
		h1
			font-size 36px
			font-weight 100
			color $customblack3
		h2
			font-weight 200
	p
		color $customgray3
		font-size 24px
		font-weight 100
	strong
		color $customred1
		font-weight 100