.mod_oquefazemos
  background-color $customred2
  background-image url('.././img/o-que-fazemos.png')
  background-size cover
  background-repeat no-repeat
  background-position center center
  background-attachment fixed
  min-height 700px
  padding 80px 0
  @media mqmobile-md
    padding 25px 0
    min-height 100%
  .page-header
    h1
      display inline-block
      color $customwhite1
      font-size 36px
      font-weight 100
      padding 5px
  p
    font-size 80px
    font-family 'caecilia_lightregular'
    color $customwhite1
    @media mqmobile-md
      font-size 32px
    span
      color $customred3