.list-madgoodones
	padding 80px 0
	color $customgray2
	@media mqmobile-md
		padding 25px 0
	figure
		padding 15px 
	h1
		color $customblack1
		font-size 21px
		font-weight 700
	&-2
		p
			color $customblack3
			font-size 18px
			font-weight 100
			padding 0
			line-height 1.5