.frase1,
.frase2
	background-color #f6f1f1
	color $customgray2
	padding 25px 15px
	p
		font-size 16px
		padding 0
		margin-bottom 4px
	strong, b
		font-weight 100
		color $customred1
.frase2
	background-color $customblack2
	padding 50px 15px
	p
		font-size 32px
		font-weight 100
	strong, b
		color $customred2
.footer
	padding 35px 0
	background-color $customblack2
	color $customgray2
	img
		display inline-block
		padding-top 5px
		margin-top -20px
	span
		font-size 13px
		font-weight 100
		display inline-block
	@media mqmobile-md
		text-align center